body{
    /* background-color: #1D5D9B; */
    background-color: aliceblue;
    
}

#hero {
    background-color: #D4E2D4;
}

#title {
    margin-top: 50px;
}

#demonstration {
    margin-top: 150px;
    margin-bottom: 100px;
    /* background-color: #e9ecef; */
}